:root{
    --main-bg-color: #004036;
    --main-text-color: #333;
    --second-text-color: #bbbec5;
    --second-bg-color: #effcf9;
}
.primary-text{
    color: var(--main-text-color);
}  
.second-text{
    color: var(--second-text-color);
} 
.primary-bg{
    background-color: var(--main-bg-color);
} 
.secondary-bg{
    background-color: var(--second-bg-color);
}
.rounded-full{
    border-radius: 100%;
}
#wrapper{
    overflow-x: hidden;
    background: rgb(120,176,97);
    background-image: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(211, 214, 212) 33%, rgb(85, 87, 86) 66%);
}  
#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.4s ease-out;
}
#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem;
    font-size: 1.2rem;
}  
#sidebar-wrapper .list-group{
    width: 15rem;
}  
#page-content-wrapper{
    min-width: 100vw;
}  
#wrapped.toggled #sidebar-wrapper{
    margin-left: 0;
} 
#menu-toggle{
    cursor: pointer;
}  
.up, .down{
    cursor: pointer;
}
.list-group-item{
    border: none;
    padding: 20px 30px;
}
.list-group-item.active{
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}  
@media (min-width: 768px) {
    #sidebar-wrapper{
    margin-left: 0;
}
#page-content-wrapper{
    min-width: 0;
    width: 100%;
}
#wrapper.toggled #sidebar-wrapper{
    margin-left: -15rem;
    }
}