/*importamos style.css*/
@import "style.css";

/*HERO*/
.hero{
    position: relative;
    padding: 0;
    color: var(--colorBlanco);
}
.contenido_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5%;
    text-align: center;
}
.titulo{
    font-size: 4rem;
}
.texto{
    font-size: 1rem;
}
.boton{
    display: block;
    padding: .75rem 1.5rem;
    border-radius: 2.5rem;
    color: var(--colorSecundario);
    background-color: var(--colorTerciario);
    border: 2px solid var(--colorTerciario);
}
.boton:hover{
    color: var(--colorTerciario);
    background-color: var(--colorSecundario);
}

.hero_imagen{
    position: relative;
    overflow: hidden;
}
.hero_imagen::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25%);
}
.hero .contenido_texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1;
}


/*MAIN*/
.subtitulo{
    font-size: 2rem;
}

.main_contenido{
    display: flex;
    align-items: stretch;
    justify-content: center;
    /* gap: 2rem; */
    flex-wrap: wrap;
}
.main_contenido .contenido_texto{
    flex: 1 1 30%;
    max-width: 30%;
    min-width: 250px;
}
.contenido_icono{
    max-width: 15%;
}
.caracteristicas .texto{
    color: var(--colorTerciario);
}
.estadisticas{
    background-color: var(--colorSecundario);
    padding: 10% 0;
    width: 100%;
}



.guia{
    justify-content: center;
    background-color: var(--colorSecundario);
}
.guia_lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10% 0;
}
.guia_lista_item{
    display: flex;
    flex: 1 1 18%;
    max-width: 18%;
    min-width: 200px;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    gap: 2rem;
}
.guia_ruta{
    width: 100%;
    padding: 5% 0;
    position: relative;
    justify-items: center;
}
.guia_ruta_circulo{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--colorBase);
}
.guia_ruta_linea{
    width: 100%;
    height: .25rem;
    background-color: var(--colorBase);
    position: absolute;
    top: 50%;
}






/* Responsivo*/
@media (max-width: 950px){
    .contenedor{
        gap: 2em;
        padding: 10% 5%;
    }
    .titulo{
        font-size: 2rem;
    }
    .texto, .boton{
        font-size: .85rem;
    }
    .boton{
        font-size: .85rem;
    }
    /*HERO*/
    .hero, .hero .contenido_texto{
        position: static;
        color: var(--colorPrincipal);
    }
    .hero .contenido_texto{
        top: 0;
        left: 0;
        transform: none;
        z-index: 1;
    }
    .hero_imagen::before{
        display: none;
    }
}

