/*----------------------pricipal----------------------*/
.Fotos-listas-clinica img{
    width: 30vh;
    height: 30vh;

}
.presentacion{
    color: var(--colorTerciario);
    padding: 3%;
}
#seccion-dos{
    background-color:rgba(34, 38, 54, 1); 
    padding: 0%;
    margin: 5%;
    display: flex;
}
.seccion-objetivos{
    color: aliceblue;
    margin: 5%;
    font-size: 18px;
}
.seccion-vision{
    color: aliceblue;
    text-align: center;
    margin: 5%;
}
/*-------------Gerencia-------------------*/
.autoridades{
    display: flex;
    text-align: center;
    margin: 2%;
    font-size: 100%;
    justify-content: space-around;
}
.autoridades img{
    object-fit: cover;
    border-radius: 8%;
    border:3px solid var(--colorPrincipal);
    height: 270px;
    width: 270px;
}
/*----------- Administracion ------*/
.administracion{
    display: flex;
    text-align: center;
    margin: 5%;
    font-size: 100%;
    justify-content: space-around;
}
.administracion img{
    object-fit: cover;
    border-radius: 8%;
    border: 3px solid var(--colorPrincipal);
    height: 250px;
    width: 250px;
}
/*----------------profecionales------------------*/
/* .profesionales{
    display: flex;
    text-align: center;
    margin: 5%;
    font-size: 100%;
    justify-content: space-around;
} */
.profesionales img{
    /* height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 1%; */
    border: 2px solid var(--colorPrincipal);
}

.profesional1 article{
    color: aliceblue;
    background-color: rgba(34, 38, 54, 1);
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    interpolate-size: allow-keywords;
    padding: 0 10px;
}
.profesional1:hover article{
    height: auto;
}
.profesional2 article{
    color: aliceblue;
    background-color: rgba(34, 38, 54, 1);
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    interpolate-size: allow-keywords;
    padding: 0 10px;
}
.profesional2:hover article{
    height: auto;
}
.profesional3 article{
    color: aliceblue;
    background-color: rgba(34, 38, 54, 1);
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    interpolate-size: allow-keywords;
    padding: 0 10px;
}
.profesional3:hover article{
    height: auto;
}

.profesionales .card-body{
    background-color: rgba(34, 38, 54, 1);
    color: var(--colorBlanco);
}
.card-img-top{
    height: 250px;
    width:100%;
    object-fit: cover;
}
