@import url(admin.css);


/*Tabla*/
.table{
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.encabezado th{
    color: var(--colorBlanco);
    background-color: var(--colorBase);
    align-items: center;
}
th, td{
    border: 1px solid #ddd;
}
.table .btn{
    background-color: transparent;
    border: none;
}
.acciones i{
    font-size: 1.2rem;
}
.acciones .bi-trash{
    color: red;
}
.acciones .bi-pencil-square{
    color: green;
}
.acciones .bi-eye{
    color: darkblue;
}


.card-profesional{
    background-color: var(--colorBlanco);
    color: var(--colorPrincipal);
    border: 1px solid var(--colorTerciario);

}
.card-profesional h5{
    font-weight: 600;
    color: var(--colorTerciario);
}
.card-img{
    max-width: 100%;
    max-height: 100%;
    height: 10rem;
    width: 10rem;
    overflow: hidden;
}
.card-img img{
    object-position: top;
}

/*formulario*/
.form-contacto {
    color: var(--colorBase);
}


.form-contacto h1 {
    margin-bottom: 2rem;
    color: var(--colorPrincipal);
    
}

.form-contacto p {
    max-width: 600px;
    color: var(--colorTerciario);
    margin-bottom: 3rem; 

}


.formulario {
    max-width: 600px;
    background-color: var(--colorBlanco);
    padding: 2rem;
    border-radius: 1rem;
}


.formulario .form-label {
    font-weight: 600;
    color: var(--colorTerciario);
}


.formulario input,
.formulario textarea, 
.form-select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border: 1px solid var(--colorTerciario);
    border-radius: 0.5rem;
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.formulario input:focus,
.formulario textarea:focus, 
.form-select:focus{
    border-color: var(--colorTerciario);
    outline: none;
}


.formulario input::placeholder,
.formulario textarea::placeholder,
.form-select::placeholder {
    color: var(--colorTerciario); 
    opacity: 0.6; 
    font-style: italic; 
}

.form-check input{
    margin-right: .5rem;
}
.form-check label{
    color: #636363;
}
.form-check input:checked + label{
    color: var(--colorPrincipal);
    font-weight: 600;
}


.formulario button.btn-custom {
    border-color: var(--colorTerciario);
    background-color: var(--colorTerciario);
    color: var(--colorBlanco);
}

.formulario button.btn-custom:hover {
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
}


.formulario-turno{
    background-color: var(--colorSecundario);
}



/* Responsivo*/
@media (max-width: 992px){

    /*MAIN*/
    .btn-lg.btn-admin{
        font-size: 1rem;
    }
    .tabla-profesionales{
        max-height: 400px;
    }
    .card-img{
        width: 100%;
        height: 50%;
    }
    
}


@media (max-width: 768px) {
    .form-contacto {
        padding: 5% 5%;
    }

    .formulario {
        padding: 1.5rem;
    }
}

