.form-reservar {
    color: var(--colorBase);
}


.form-reservar h1 {
    margin-bottom: 2rem;
    color: var(--colorPrincipal);
    
}

.form-reservar p {
    max-width: 600px;
    color: var(--colorTerciario);
    margin-bottom: 3rem; 

}


.formulario {
    max-width: 600px;
    background-color: var(--colorBlanco);
    padding: 2rem;
    border-radius: 1rem;
}


.formulario .form-label {
    font-weight: 600;
    color: var(--colorTerciario);
}


.formulario input,
.formulario textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border: 1px solid var(--colorTerciario);
    border-radius: 0.5rem;
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.formulario input:focus,
.formulario textarea:focus {
    border-color: var(--colorTerciario);
    outline: none;
}


.formulario input::placeholder,
.formulario textarea::placeholder {
    color: var(--colorTerciario); 
    font-style: italic; 
}


#fecha {
    color: var(--colorTerciario);
    border: 1px solid var(--colorTerciario);
    border-radius: 0.5rem;
    font-family: var(--fuentePrincipal);
    font-style: italic;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}



.formulario select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    color: var(--colorTerciario);
    border: 1px solid var(--colorTerciario);
    border-radius: 0.5rem;
    font-family: var(--fuentePrincipal);
    font-style: italic;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

 

.formulario button.btn-custom {
    border-color: var(--colorTerciario);
    background-color: var(--colorTerciario);
    color: var(--colorBlanco);
}

.formulario button.btn-custom:hover {
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
}

#mensaje {
    color: var(--colorTerciario);
}

#medico {
    font-size: 2rem;
}


/* Responsivo */
@media (max-width: 768px) {
    .form-reservar {
        padding: 5% 5%;
    }

    .formulario {
        padding: 1.5rem;
    }
}
